//link color for items
.footer a {
  color: #1F1C57;

}
.footer a:hover {
  color: #BDD631
}

// displaying items in same row
.paragraph--type--bitshopper-social-media {
  display: flex;
  .field--name-field-logos{
    margin: 0px 10px 10px 10px;
  }
}

//displays items within the same row
.field--name-field-bitshopper-site-informatio{
.field--item{
.field--name-field-bitshopper-social-media{
  .field--items{
    display: flex;
  }
}
}
}

//displays items within the same row
.view-social-media {
  .view-content {
    display: flex;
  }
}
@media only screen and (max-width: 600px) {
.view-social-media{
  .view-content{
    flex-direction: column;
   }
 }
}
.region-footer {
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  .region-footer {
  flex-direction: column;
 }
}

//removes unecessary padding
@media only screen and (min-width: 600px) {
  .footer {
  padding-bottom: 45px;
 }
}

//putting space between footer and content
@media only screen and (min-width: 600px) {
  .main-container {
  margin-bottom: 200px;
 }
}
